include aistreams/python/apps/chunker_app
include aistreams/python/apps/ingester_app
include aistreams/python/apps/manager_app
include aistreams/python/apps/playback_app
include aistreams/python/apps/printer_app
include aistreams/gstreamer/gst-plugins/*.so
